{% extends 'base.html' %}
{% block title %}Take Test{% endblock %}
{% block content %}
  <h2>Taking: {{ test.title }}</h2>
  <form method="post" action="/student/submit/{{ test.id }}">
    {% for q in questions %}
      <div class="question-block">
        <p><strong>Q{{ loop.index }}.</strong> {{ q.qtext }} ({{ q.marks }} marks)</p>

        {% if q.type == 'mcq_single' %}
          <div class="options">
            {% for opt in q.options %}
              <label class="option">
                <input type="radio" name="{{ q.id }}" value="{{ opt }}">
                {{ opt }}
              </label>
            {% endfor %}
          </div>

        {% elif q.type == 'mcq_multi' %}
          <div class="options">
            {% for opt in q.options %}
              <label class="option">
                <input type="checkbox" name="{{ q.id }}" value="{{ opt }}">
                {{ opt }}
              </label>
            {% endfor %}
          </div>

        {% elif q.type == 'short_text' or q.type == 'numeric' %}
          <input class="text-input" name="{{ q.id }}">
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit">Submit Test</button>
  </form>
{% endblock %}
